@import '../../../resources/variables/spacing.scss';

li {
  list-style: none;
  padding: 5px;
}

.recipeWrapper { 
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: $spacing-1;
}

.recipeItem {
  margin: 16px;
}